.footer .footer-menu li a:link,
.footer .footer-menu li a:visited {
  color: black;
}

.footer .footer-menu li a {
  text-decoration: none;
}

.footer .footer-menu li a:hover {
  color: #ffa538 !important;
}
