.page-header__title.login-title {
  margin: 0 0 2rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.body-content {
  padding: 3rem 0 3rem 0;
}

.form-login label {
  letter-spacing: 1px;
}

.form-login input {
  padding: 1.5rem;
}

.body-content {
  width: 80%;
}

.form-login {
  width: 60% !important;
}

.form-login .forget-pwd {
  text-decoration: none;
  color: rgb(250, 112, 0) !important;
}
.form-login .forget-pwd:hover {
  font-style: italic;
}

.form-login .btn-group-login {
  margin: 1rem 0;
}

.form-login .btn-group-login button {
  color: white;
  margin: 0.2rem 0;
  width: 60% !important;
  display: block !important;
}

.form-login .btn-group-login .login {
  background-color: rgb(255, 94, 0);
}

.form-login .btn-group-login .login:hover {
  background-color: rgb(7, 7, 7);
}

.form-login .btn-group-login .login-fb {
  background-color: #3b5998;
}

.form-login .btn-group-login .login-gg {
  background-color: #ea4335;
}
