<!doctype html>
<html lang="en">

<head>
  <title>USG</title>

  {{> head}}

  <!-- StyleSheet Specific CSS Here -->

</head>

<body>

  <!-- Place Header -->
  {{> header}}

  <!-- Place Body Content -->
  {{{body}}}

  <!-- Place Footer -->
  {{>footer}}

  <!-- Place Boostrap & Script JS -->
  {{>bootstrap-script}}

</body>

</html>