<!DOCTYPE html>
<html lang="en">
	<head>
		<title>USG</title>

		{{> head-part}}

		<link rel="stylesheet" href="./resources/css/infor.css" />
	</head>

	<body>
		{{>header-part}}

		{{{body}}}

		{{>footer-part}}

		{{>bootstrap-part}}
	</body>
</html>
