<!DOCTYPE html>
<html lang="en">
	<head>
		<title>USG</title>

		{{> head}}

		<link rel="stylesheet" href="../resources/css/item-detail.css" />
	</head>

	<body>
		{{>header}}

		{{{body}}}

		{{>footer}}

		{{> bootstrap-script}}

		<script>
			document.title = document.querySelector(".item-name").innerHTML;
		</script>
		<script src="../resources/js/ItemDetail.js"></script>
	</body>
</html>
