<!DOCTYPE html>
<html lang="en">

<head>
	<title>USG</title>

	<link rel="stylesheet" href="../resources/css/list-product.css" />

	{{>head-part}}
</head>

<body>
	{{>header-part}}

	{{{body}}}

	{{>footer-part}}

	{{>bootstrap-part}}

	<script src="../resources/js/ListProduct.js"></script>
</body>

</html>