<!doctype html>
<html lang="en">

<head>
    <title>USG</title>

    {{> head}}

    <link rel="stylesheet" href="./resources/css/list-product.css">
</head>

<body>

    {{> header}}

    {{{body}}}

    {{>footer}}

    {{>bootstrap-script}}
</body>

</html>