<!DOCTYPE html>
<html lang="en">

<head>
	<title>USG</title>

	<link rel="stylesheet" href="./resources/css/order-list.css" />

	{{>head-part}}
</head>

<body>
	{{>header-part}}

	{{{body}}}

	{{>footer-part}}

	{{>bootstrap-part}}
</body>

</html>