<!DOCTYPE html>
<html lang="en">

<head>
	<title>USG</title>

	<link rel="stylesheet" href="../resources/css/item-detail.css" />

	{{>head-part}}
</head>

<body>
	{{>header-part}}

	{{{body}}}

	{{>footer-part}}

	{{>bootstrap-part}}

	<script>
		document.title = document.querySelector(".item-name").innerHTML;
	</script>
	<script src="../resources/js/ItemDetail.js" type="module"></script>
</body>

</html>