<!doctype html>
<html lang="en">

<head>
  <title>Shopping Cart</title>
  <link rel="shortcut icon" href="resources/img/web.ico" type="image/x-icon">

  {{>head-part }}

  <!-- Style CSS -->
  <link rel="stylesheet" href="../resources/css/item-detail.css">
  <link rel="stylesheet" href="../resources/css/shopping-cart.css">

</head>

<body>
    {{> header-part}}
    
    <div class="body-content container-fluid">
        <div class="row">
            <div class="col-md-7 col-12" id="formWrapper">
                <div class="form-tittle">
                    BASIC INFORMATION
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="" class="form-control" placeholder="Full name" aria-describedby="">
                        </div>

                        <div class="col-md-6">
                            <input type="number" name="" class="form-control" placeholder="Phone number"
                                aria-describedby="">
                        </div>
                        <div class="col-md-12">
                            <input type="text" name="" class="form-control my-3" placeholder="Address"
                                aria-describedby="">
                            <input type="email" name="" id="" class="form-control my-3" placeholder="Email"
                                aria-describedby="">
                            <textarea class="form-control my-3" name="" id="" rows="6" placeholder="Notes"></textarea>

                            <div>
                                <div class="tittle-text my-2">
                                    Payment Method: 
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="option w-100 mx-1
                                    d-flex justify-content-center align-items-center unselectable"
                                    >ON</br>SITE</div>
                                    <div class="option w-100 mx-1
                                    d-flex justify-content-center align-items-center unselectable"
                                    > CREDIT </br> CARD </div>
                                    <div class="option w-100 mx-1 
                                    d-flex justify-content-center align-items-center unselectable"
                                    >
                                        VISA
                                    </div>
                                    <div class="option w-100 mx-1
                                    d-flex justify-content-center align-items-center unselectable"
                                    > MOMO </div>
                                    <div class="option w-100 mx-1
                                    d-flex justify-content-center align-items-center unselectable"
                                    > KIDNEY </div>
                                </div>
                            </div>

                            <div class="my-3">
                                <button type="button" name="" class="btn btn-lg btn-block confirm-btn">
                                    CONFIRM
                                </button>
                            </div>
                        </div>

                    </div>

                    <!-- <small id="helpId" class="text-muted"></small> -->
                </div>
            </div>

            <div class="col-md-5 col-12 d-flex flex-column justify-content-between">
                <div>
                    <div class="form-tittle">
                        YOUR CART
                    </div>

                    {{{body}}}

                </div>
            </div>
        </div>
    </div>
    {{>footer-part}}

    {{>bootstrap-part}}

    <script src="../resources/js/ShoppingCart.js"
			type="module"></script>
</body>
</html>