<!-- Main Content Secsion-->
<div class="body-area">
    <div class="body-content">
        <h3 class="page-title">QUẢN LÝ DANH SÁCH SẢN PHẨM</h3>

        <div class="search-bar">
            <input class="form-control" type="text" placeholder="Search..." aria-label="Search">
        </div>

        <div class="add-product">
            <button type="button" class="btn btn add-product-btn" data-toggle='modal' data-target='#form-model'>Thêm sản
                phẩm</button>
        </div>


        <div class="table-list-product--wrapper">
            <table class="table table-hover list-product-table">
                <thead class="thead-dark">
                    <tr class="d-flex">
                        <th class="col-lg-2">ID</th>
                        <th class="col-lg-4">Tên sản phẩm</th>
                        <th class="col-lg-2">Giá</th>
                        <th class="col-lg-2">Loại</th>
                        <th class="col-lg-2">Thao tác</th>
                    </tr>

                <tbody>

                    {{#each Data.Items}}
                    <tr class="d-flex">
                        <td class="col-lg-2 product-id">{{id}}</td>
                        <td class="col-lg-4 product-name">{{name}}</td>
                        <td class="col-lg-2 product-price">{{price}}đ</td>
                        <td class="col-lg-2 product-category">{{category}}</td>
                        <td class="col-lg-2 product-act">
                            <button type="button" class="btn btn-primary btn-update" data-toggle='modal'
                                data-target='#form-model'>Update</button>
                            <button type="button" class="btn btn-danger btn-delete">Delete</button>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>
    let arrCategory = document.querySelectorAll(".product-category");
    for (let i = 0; i < arrCategory.length; i++) {
        if (arrCategory[i].innerHTML == "ao-thun-ngan-tay")
            arrCategory[i].innerHTML = "Áo thun ngắn tay";
        else if (arrCategory[i].innerHTML == "ao-thun-dai-tay")
            arrCategory[i].innerHTML = "Áo thun dài tay";
        else if (arrCategory[i].innerHTML == "ao-thun-tank-top")
            arrCategory[i].innerHTML = "Áo thun tank top";
        else if (arrCategory[i].innerHTML == "ao-aomi")
            arrCategory[i].innerHTML = "Áo sơ mi";
        else if (arrCategory[i].innerHTML == "quan-short")
            arrCategory[i].innerHTML = "Quần short";
        else if (arrCategory[i].innerHTML == "quan-jean-dai")
            arrCategory[i].innerHTML = "Quần jean dài";
        else if (arrCategory[i].innerHTML == "quan-jogger")
            arrCategory[i].innerHTML = "Quần jogger";
        else if (arrCategory[i].innerHTML == "vo-ngan")
            arrCategory[i].innerHTML = "Vớ ngắn";
        else if (arrCategory[i].innerHTML == "vo-dai")
            arrCategory[i].innerHTML = "Vớ dài";
        else if (arrCategory[i].innerHTML == "non")
            arrCategory[i].innerHTML = "Nón";
        else if (arrCategory[i].innerHTML == "khau-trang")
            arrCategory[i].innerHTML = "Khẩu trang";
        else if (arrCategory[i].innerHTML == "that-lung")
            arrCategory[i].innerHTML = "Thắt lưng";
        else
            arrCategory[i].innerHTML = "Bóp ví";
    }
</script>