<!-- Main Content Secsion-->
<div class="body-area">
    <div class="body-content">
        <h3 class="page-title">QUẢN LÝ DANH SÁCH COMMENT FEEDBACK</h3>

        <div class="search-bar">
            <input class="form-control" type="text" placeholder="Search..." aria-label="Search">
        </div>

        <div class="table-list-product--wrapper">
            <table class="table table-hover list-product-table">
                <thead class="thead-dark">
                    <tr class="d-flex">
                        <th class="col-lg-2">Tên sản phẩm</th>
                        <th class="col-lg-2">Tên khách hàng</th>
                        <th class="col-lg-2">Ngày</th>
                        <th class="col-lg-4">Nội dung</th>
                        <th class="col-lg-2">Thao tác</th>
                    </tr>

                <tbody>

                    <tr class="d-flex">
                        <td class="col-lg-2 product-name">HCMUSID001</td>
                        <td class="col-lg-2 name-user">Tên khách hàng 1</td>
                        <td class="col-lg-2 comment-date">10/1/2020</td>
                        <td class="col-lg-4 comment-content">Nội dung</td>
                        <td class="col-lg-2 comment-act">
                            <button type="button" class="btn btn-primary btn-detail" data-toggle='modal'
                                data-target='#form-model'>Xem</button>
                            <button type="button" class="btn btn-danger btn-delete">Delete</button>
                        </td>
                    </tr>

                    <tr class="d-flex">
                        <td class="col-lg-2 product-name">HCMUSID002</td>
                        <td class="col-lg-2 name-user">Tên khách hàng 2</td>
                        <td class="col-lg-2 comment-date">10/1/2020</td>
                        <td class="col-lg-4 comment-content">Nội dung</td>
                        <td class="col-lg-2 comment-act">
                            <button type="button" class="btn btn-primary btn-detail" data-toggle='modal'
                                data-target='#form-model'>Xem</button>
                            <button type="button" class="btn btn-danger btn-delete">Delete</button>
                        </td>
                    </tr>

                    <tr class="d-flex">
                        <td class="col-lg-2 product-name">HCMUSID003</td>
                        <td class="col-lg-2 name-user">Tên khách hàng 3</td>
                        <td class="col-lg-2 comment-date">10/1/2020</td>
                        <td class="col-lg-4 comment-content">Nội dung</td>
                        <td class="col-lg-2 comment-act">
                            <button type="button" class="btn btn-primary btn-detail" data-toggle='modal'
                                data-target='#form-model'>Xem</button>
                            <button type="button" class="btn btn-danger btn-delete">Delete</button>
                        </td>
                    </tr>
                </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>