<!-- Main Content Secsion-->
<div class="body-area">
    <div class="body-content">
        <h3 class="page-title">QUẢN LÝ DANH SÁCH TÀI KHOẢN</h3>

        <div class="search-bar">
            <input class="form-control" type="text" placeholder="Search..." aria-label="Search">
        </div>

        <div class="add-acc">
            <button type="button" class="btn btn add-acc-btn" data-toggle='modal' data-target='#form-model'>Thêm tài
                khoản</button>
        </div>

        <div class="table-list-product--wrapper">
            <table class="table table-hover list-product-table">
                <thead class="thead-dark">
                    <tr class="d-flex">
                        <th class="col-lg-3">Tên khách hàng</th>
                        <th class="col-lg-1">Loại tài khoản</th>
                        <th class="col-lg-2">Username</th>
                        <th class="col-lg-3">Địa chỉ email</th>
                        <th class="col-lg-3">Thao tác</th>
                    </tr>

                <tbody>

                    <tr class="d-flex">
                        <td class="col-lg-3 user-name">Tên khách hàng</td>
                        <td class="col-lg-1 acc-type">User</td>
                        <td class="col-lg-2 user-username">Username</td>
                        <td class="col-lg-3 user-email">Email</td>
                        <td class="col-lg-3 acc-act">
                            <button type="button" class="btn btn-primary btn-detail" data-toggle='modal'
                                data-target='#form-model'>Update</button>
                            <button type="button" class="btn btn-danger btn-delete">Delete</button>
                        </td>
                    </tr>

                    <tr class="d-flex">
                        <td class="col-lg-3 user-name">Tên khách hàng</td>
                        <td class="col-lg-1 acc-type">User</td>
                        <td class="col-lg-2 user-username">Username</td>
                        <td class="col-lg-3 user-email">Email</td>
                        <td class="col-lg-3 acc-act">
                            <button type="button" class="btn btn-primary btn-detail" data-toggle='modal'
                                data-target='#form-model'>Update</button>
                            <button type="button" class="btn btn-danger btn-delete">Delete</button>
                        </td>
                    </tr>

                    <tr class="d-flex">
                        <td class="col-lg-3 user-name">Tên khách hàng</td>
                        <td class="col-lg-1 acc-type">User</td>
                        <td class="col-lg-2 user-username">Username</td>
                        <td class="col-lg-3 user-email">Email</td>
                        <td class="col-lg-3 acc-act">
                            <button type="button" class="btn btn-primary btn-detail" data-toggle='modal'
                                data-target='#form-model'>Update</button>
                            <button type="button" class="btn btn-danger btn-delete">Delete</button>
                        </td>
                    </tr>


                </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>