<!-- Body -->
<div class="body-content container">

    <!-- Header Body -->
    <div class="page-header mx-auto">
        <div class="container">
            <div class="page-header__content text-center">
                <h1 class="page-header__title forgot-title text-center" style="color: #283657;">
                    CẤP LẠI MẬT KHẨU
                </h1>
            </div>
        </div>
    </div>

    <!-- Login Form -->
    <div class="form-forgot container px-0">
        <div class="container px-0">
            <form class="needs-validation" novalidate method="POST" action=" ">

                <div class="form-group">
                    <label for="uname">TÊN ĐĂNG NHẬP:</label>
                    <input type="text" class="form-control" id="uname" placeholder="TÊN ĐĂNG NHẬP" name="uname"
                        required />
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Vui lòng điền Tên đăng nhập</div>
                </div>

                <div class="form-group">
                    <label for="email">EMAIL:</label>
                    <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" required />
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Vui lòng điền Email</div>
                </div>

                <div class="row w-100 align-items-center mx-0">
                    <div class="col-12">
                        <p class="text-center">Mật khẩu mới sẽ được gửi qua Email của bạn</p>
                    </div>
                </div>

                <div class="container  d-flex flex-column justify-content-center align-items-center">
                    <button type="submit" class="btn send-pwd rounded-0">GỬI LẠI MẬT KHẨU</button>
                </div>

            </form>

        </div>
    </div>

</div>