<!-- Body -->
<div class="body-content container">
    <div class="secsion-header-title">
        <h3>DANH SÁCH TẤT CẢ SẢN PHẨM (TEMPLATE)</h3>
    </div>

    <div class="secsion-orderby">
        <span>Sắp xếp theo:</span>
        <div class="btn-group">
            <button type="button" class="btn bg-white dropdown-toggle" data-toggle="dropdown">
                Mới nhất
            </button>
            <div class="dropdown-menu shadow">
                <a class="dropdown-item" href="#">Mới nhất</a>
                <a class="dropdown-item" href="#">Bán chạy nhất</a>
                <a class="dropdown-item" href="#">Giá từ thấp đến cao</a>
                <a class="dropdown-item" href="#">Giá từ cao đến thấp</a>
                <a class="dropdown-item" href="#">Giảm nhiều nhất</a>
            </div>
        </div>
    </div>

    <div class="container list-product">

        <div class="row">

            <div class="col-6 col-lg-3 item-product">
                <a href="#">
                    <img src="..\resources\img\product\ao-thun-ngan-tay\4_51_585x663.jpg" alt="5" width="100%;">
                </a>
                <div class="des-product">
                    <a href="#" class="name">
                        Áo thun cổ tròn Cotton Compact Premium in Christmas đặc biệt màu xanh rêu
                    </a>
                    <br>
                    <a href="#" class="rate">(Xem đánh giá)</a>
                    <p class="price">269.000đ</p>
                </div>
                <div class="buy">
                    <a name="" id="" class="btn" href="#" role="button">Chọn mua</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 item-product">
                <a href="#">
                    <img src="..\resources\img\product\ao-thun-ngan-tay\1_78_585x663.jpg" alt="5" width="100%;">
                </a>
                <div class="des-product">
                    <a href="#" class="name">
                        Áo thun cổ tròn Cotton Compact Premium in chữ Giáng Sinh màu đỏ đô
                    </a>
                    <br>
                    <a href="#" class="rate">(Xem đánh giá)</a>
                    <p class="price">269.000đ</p>
                </div>
                <div class="buy">
                    <a name="" id="" class="btn" href="#" role="button">Chọn mua</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 item-product">
                <a href="#">
                    <img src="..\resources\img\product\ao-thun-ngan-tay\3_27_585x663.jpg" alt="5" width="100%;">
                </a>
                <div class="des-product">
                    <a href="#" class="name">
                        Áo thun cổ tròn Cotton Compact Premium in Gấu trắng đặc biệt màu xanh rêu
                    </a>
                    <br>
                    <a href="#" class="rate">(Xem đánh giá)</a>
                    <p class="price">269.000đ</p>
                </div>
                <div class="buy">
                    <a name="" id="" class="btn" href="#" role="button">Chọn mua</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 item-product">
                <a href="#">
                    <img src="..\resources\img\product\ao-thun-ngan-tay\im_single_33_585x663.jpg" alt="5" width="100%;">
                </a>
                <div class="des-product">
                    <a href="#" class="name">
                        Áo thun cổ tròn Cotton Compact Premium in I'm Single
                    </a>
                    <br>
                    <a href="#" class="rate">(Xem đánh giá)</a>
                    <p class="price">259.000đ</p>
                </div>
                <div class="buy">
                    <a name="" id="" class="btn" href="#" role="button">Chọn mua</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 item-product">
                <a href="#">
                    <img src="..\resources\img\product\ao-thun-ngan-tay\happy_man_1_585x663.jpg" alt="5" width="100%;">
                </a>
                <div class="des-product">
                    <a href="#" class="name">
                        Áo thun cổ tròn Cotton Compact Premium in Happy Man
                    </a>
                    <br>
                    <a href="#" class="rate">(Xem đánh giá)</a>
                    <p class="price">259.000đ</p>
                </div>
                <div class="buy">
                    <a name="" id="" class="btn" href="#" role="button">Chọn mua</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 item-product">
                <a href="#">
                    <img src="..\resources\img\product\ao-thun-ngan-tay\mientrung_72_585x663.jpg" alt="5" width="100%;">
                </a>
                <div class="des-product">
                    <a href="#" class="name">
                        Áo thun cổ tròn Cotton Compact Premium #MienTrung
                    </a>
                    <br>
                    <a href="#" class="rate">(Xem đánh giá)</a>
                    <p class="price">269.000đ</p>
                </div>
                <div class="buy">
                    <a name="" id="" class="btn" href="#" role="button">Chọn mua</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 item-product">
                <a href="#">
                    <img src="..\resources\img\product\ao-thun-ngan-tay\IMG_5717_copy_585x663.jpg" alt="5"
                        width="100%;">
                </a>
                <div class="des-product">
                    <a href="#" class="name">
                        Áo thun nam in Coolmate Cotton Compact phiên bản Premium - Trắng
                    </a>
                    <br>
                    <a href="#" class="rate">(Xem đánh giá)</a>
                    <p class="price">269.000đ</p>
                </div>
                <div class="buy">
                    <a name="" id="" class="btn" href="#" role="button">Chọn mua</a>
                </div>
            </div>

            <div class="col-6 col-lg-3 item-product">
                <a href="#">
                    <img src="..\resources\img\product\ao-thun-ngan-tay\aoin_TTCV_585x663.jpg" alt="5" width="100%;">
                </a>
                <div class="des-product">
                    <a href="#" class="name">
                        Áo thun nam in Coolmate Cotton Compact phiên bản Premium - Đen
                    </a>
                    <br>
                    <a href="#" class="rate">(Xem đánh giá)</a>
                    <p class="price">259.000đ</p>
                </div>
                <div class="buy">
                    <a name="" id="" class="btn" href="#" role="button">Chọn mua</a>
                </div>
            </div>

        </div>
    </div>
</div>