<!-- Body -->
<div class="body-content container">
    <div class="row w-100 mx-0">

        <div class="col-12 col-lg-3 infor-nav-menu">
            <div class="jumbotron">
                <div class="container w-100 p-0 d-flex flex-column justify-content-center align-items-center">
                    <p class="member rounded shadow">USG Member</p>
                    <p class="name">Dương Tấn Phát</p>

                    <ul class="infor-menu">

                        <li>
                            <a href="infor.htm">
                                <i class="fas fa-user"></i>
                                Thông tin cá nhân
                            </a>
                        </li>

                        <li>
                            <a href="orders-list.htm" class="active">
                                <i class="fas fa-file-invoice"></i>
                                Danh sách đơn hàng
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-sign-out-alt"></i>
                                Thoát
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-9 order-list">
            <div class="list-order container px-0">
                <h3 style="color: #283657;">DANH SÁCH TẤT CẢ ĐƠN HÀNG CỦA BẠN</h3>
                <div class="container px-0">

                    <table class="table table-hover order-list-table">
                        <thead class="thead-dark">
                            <tr class="d-flex">
                                <th class="col-lg-2">Mã đơn hàng</th>
                                <th class="col-lg-6">Sản phẩm</th>
                                <th class="col-lg-2">Tổng tiền</th>
                                <th class="col-lg-2">Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-lg-2 order--id--date">
                                    <a href="#" class="id-order">#8610736</a>
                                    <p>10.11.2020</p>
                                </td>
                                <td class="col-lg-6">
                                    <p>
                                        - Quần thể thao nam Ultra Short màu xanh tím than <br>
                                        - Áo thun cổ tròn Cotton Compact Premium in Happy Man <br>
                                        - 3 Quần lót nam Boxer Brief Modal (gỗ sồi) mềm mại màu đen <br>
                                        - Áo thun nam Cotton Compact phiên bản Premium chống nhăn <br>
                                        - Áo thun nam Cotton Compact phiên bản Premium chống nhăn <br>
                                        - QUÀ TẶNG - Áo thể thao nam MaxCool màu neon
                                    </p>
                                </td>
                                <td class="col-lg-2">1.290.000đ</td>
                                <td class="col-lg-2">Đã giao hàng</td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-lg-2 order--id--date">
                                    <a href="#" class="id-order">#8610736</a>
                                    <p>10.11.2020</p>
                                </td>
                                <td class="col-lg-6">
                                    <p>
                                        - Quần thể thao nam Ultra Short màu xanh tím than <br>
                                        - Áo thun cổ tròn Cotton Compact Premium in Happy Man <br>
                                        - 3 Quần lót nam Boxer Brief Modal (gỗ sồi) mềm mại màu đen <br>
                                        - Áo thun nam Cotton Compact phiên bản Premium chống nhăn <br>
                                        - Áo thun nam Cotton Compact phiên bản Premium chống nhăn <br>
                                    </p>
                                </td>
                                <td class="col-lg-2">1.290.000đ</td>
                                <td class="col-lg-2">Đã huỷ đơn</td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-lg-2 order--id--date">
                                    <a href="#" class="id-order">#861021</a>
                                    <p>10.11.2020</p>
                                </td>
                                <td class="col-lg-6">
                                    <p>
                                        - 3 quần lót nam Trunk Cotton Compact co giãn màu đen
                                    </p>
                                </td>
                                <td class="col-lg-2">244.000đ</td>
                                <td class="col-lg-2">Đã giao hàng</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>