.page-header__title.forgot-title {
  margin: 0 0 2rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-forgot label {
  letter-spacing: 1px;
}

.form-forgot input {
  padding: 1.5rem;
}

.form-forgot {
  width: 60% !important;
}

.form-login .btn-group-login {
  margin: 1rem 0;
}

.form-forgot button {
  color: white !important;
  margin: 0.2rem 0;
  width: 60% !important;
  display: block !important;
  background-color: #f26101;
}

.form-forgot button:hover {
  background-color: rgb(7, 7, 7);
  color: white !important;
}

@media (max-width: 920px) {
  .form-forgot {
    width: 100% !important;
  }

  .form-forgot button {
    width: 100% !important;
  }

  .page-header__title.forgot-title {
    font-size: 2rem;
  }
}
