:root {
	--darkYellow: #ffe4aa;
	--softOrage: #e8c6b1;
	--lightTomato: #ff8f89;
	--sharpPink: #e894e8;
	--deepViolet: #bd97ff;
	--skyBlue: #659dbd;
}

@font-face {
	font-family: "Montserrat", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
}

@font-face {
	font-family: "Raleway", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");
}

@font-face {
	font-family: "Source Sans Pro", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap");
}

@font-face {
	font-family: "Roboto", sans-serif;
	font-family: "Roboto Slab", serif;
	src: url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");
}

@font-face {
	font-family: "Source Sans Pro", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap");
}

* {
	font-family: "Montserrat", sans-serif;
}

/* Make carousel indicator rounded */
.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

.carousel-indicators .active {
	background-color: var(--deepViolet);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.decrease-one,
.amount,
.increase-one {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;

	text-align: center;

	font-family: "Raleway", sans-serif;
	font-weight: bold;
	font-size: 1.5rem;

	border-style: solid;
	border-color: var(--lightTomato);
	border-width: 1px;
}

.decrease-one:hover,
.increase-one:hover {
	background-color: var(--lightTomato);
	cursor: pointer;
}

.price {
	font-family: "Raleway", sans-serif;
	font-size: 1.5rem;
}

.item-name {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: x-large;
}

.tittle-text {
	text-decoration: underline;
}

.option {
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	color: var(--lightTomato);

	/* height: 3rem; */

	border-style: solid;
	border-color: var(--lightTomato);
	border-width: 2px;
	border-radius: 5px;
}

.option:hover {
	color: white;
	background-color: var(--lightTomato);
	cursor: pointer;
}

.description-text {
	/* height: 8rem; */
	white-space: normal;
	overflow-x: hidden;

	/* border-style: solid; */
	/* border-color: var(--lightTomato); */
	/* border-width: 2px; */
}

.add-to-cart {
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	color: white;

	text-transform: uppercase;
	background-color: var(--deepViolet);
}
