.page-header__title.login-title {
  margin: 0 0 2rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-login label {
  letter-spacing: 1px;
}

.form-login input {
  padding: 1.5rem;
}

.form-login {
  width: 60% !important;
}

.form-login .forget-pwd {
  text-decoration: none;
  color: #f26101 !important;
}
.form-login .forget-pwd:hover {
  color: #ea4335 !important;
}

.form-login .btn-group-login {
  margin: 1rem 0;
}

.form-login .btn-group-login button {
  color: white;
  margin: 0.2rem 0;
  width: 60% !important;
  display: block !important;
}

.form-login .btn-group-login .login {
  background-color: #f26101;
}

.form-login .btn-group-login .login:hover {
  background-color: rgb(7, 7, 7);
}

.form-login .btn-group-login .login-fb {
  background-color: #3b5998;
}

.form-login .btn-group-login .login-gg {
  background-color: #ea4335;
}

.form-login .maintain-login {
  text-align: right;
}

@media (max-width: 920px) {
  .form-login {
    width: 100% !important;
  }

  .form-login .btn-group-login button {
    width: 100% !important;
  }

  .form-login .maintain-login,
  .form-login .forgot-pwd {
    text-align: center;
  }

  .page-header__title.login-title {
    font-size: 2rem;
  }
}
