:root {
	--darkYellow: #ffe4aa;
	--softOrage: #f26101;
	--lightTomato: #ff8f89;
	--sharpPink: #e894e8;
	--deepViolet: #bd97ff;
	--darkBlue: #283657;
}

@font-face {
	font-family: "Montserrat", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
}

@font-face {
	font-family: "Raleway", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");
}

@font-face {
	font-family: "Source Sans Pro", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap");
}

@font-face {
	font-family: "Roboto", sans-serif;
	font-family: "Roboto Slab", serif;
	src: url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");
}

@font-face {
	font-family: "Source Sans Pro", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap");
}

* {
	font-family: "Montserrat", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

textarea {
	resize: none;
}

.col {
	margin: 2px;
	padding: 0px;
}

.form-tittle {
	font-family: "Roboto Slab", serif;
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--deepViolet);

	margin: 3px 0px;
}

.chosen-item-div {
	height: 70vh;
	overflow-y: auto;
	overflow-x: hidden;

	border-style: dashed;
	border-width: 1px;
	border-radius: 5px;

	/* box-shadow: 2px 2px 10px grey; */
}

.item-div {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;

	box-shadow: 2px 2px 10px grey;
}

.item-div img {
	object-fit: cover;
	overflow: hidden;
}

.price {
	font-family: "Raleway", sans-serif;
	font-size: medium;
	text-align: right;
}

.total-price {
	font-family: "Raleway", sans-serif;
	font-size: medium;
	text-align: right;
	font-size: large;
	font-weight: bold;
}

.item-name {
	font-size: large;
	font-weight: bold;
}

.decrease-one,
.amount,
.increase-one {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;

	text-align: center;

	font-family: "Raleway", sans-serif;
	font-weight: bold;
	font-size: 1rem;

	border-style: solid;
	border-color: var(--softOrage);
	border-width: 1px;
}

.decrease-one:hover,
.increase-one:hover {
	background-color: var(--softOrage);
	cursor: pointer;
}

.option {
	height: 3rem;
	/* line-height: 3rem; */
}

.confirm-btn {
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	color: white;

	text-transform: uppercase;
	background-color: var(--deepViolet);
}
