/* Color Theme Swatches in RGBA */
.Steel-Blue---Light-1-rgba {
  color: rgba(172, 196, 212, 1);
}
.Steel-Blue---Light-2-rgba {
  color: rgba(195, 212, 225, 1);
}
.Steel-Blue---Light-3-rgba {
  color: rgba(216, 228, 237, 1);
}
.Steel-Blue---Light-4-rgba {
  color: rgba(237, 244, 249, 1);
}
.Steel-Blue---Light-5-rgba {
  color: rgba(20, 75, 110, 1);
}
