/* Color Theme Swatches in Hex */

/* For Title */
.Copy-of-Orange--Blue-1-hex {
  color: #283657;
}
.Copy-of-Orange--Blue-2-hex {
  color: #1f282e;
}

.Copy-of-Orange--Blue-3-hex {
  color: #aad2de;
}

/* For background */
.Copy-of-Orange--Blue-4-hex {
  color: #ffffff;
}

/* For Button */
.Copy-of-Orange--Blue-5-hex {
  color: #f26101;
}
